.status {
  display: inline-block;
  color: #D4D4D4;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 4px;
    left: -15px;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 30px;
    background-color: #D3D3D3;
  }

  &-online {
    &::before {
      background-color: #00c980;
    }
  }
}
